@media screen and (min-width: 2000px) {
  nav {
    justify-content: space-between;
    width: 90rem;
    align-items: center;
    padding: 48px;
  }

  #profile {
    height: 50rem;
    width: 100rem;
    margin-bottom: 2rem;
  }

  #about {
    height: 55rem;
    width: 100rem;
    margin-bottom: 2rem;
    justify-content: start;
    padding: 0px;
  }

  #experience {
    height: 55rem;
    width: 100rem;
    margin-bottom: 2rem;
    justify-content: start;
    padding: 0px;
  }

  #projects {
    height: 65rem;
    width: 100rem;
    margin-bottom: 2rem;
    justify-content: start;
    padding: 0px;
  }

  #contact {
    height: 65rem;
    width: 100rem;
    margin-bottom: 2rem;
    padding: 0px;
  }

  .rectangle{
    width: 1430px;
  }

  .neumorph-container {
    height: 280px;
    width: 43rem;
  }

  .neumorph-container-exp {
    height: 320px;
    width: 43rem;
  }
}

@media screen and (max-width: 2000px) {
  nav {
    justify-content: space-between;
    width: 70rem;
    align-items: center;
    padding: 48px;
  }

  #profile {
    height: 50rem;
    width: 80rem;
    margin-bottom: 2rem;
    padding-left: 48px;
    padding-right: 48px;
  }

  #about {
    height: 58rem;
    width: 80rem;
    margin-bottom: 2rem;
    justify-content: start;
    padding-left: 48px;
    padding-right: 48px;
  }

  #experience {
    height: 58rem;
    width: 80rem;
    margin-bottom: 2rem;
    justify-content: start;
    padding-left: 48px;
    padding-right: 48px;
  }

  #projects {
    height: 60rem;
    width: 80rem;
    margin-bottom: 2rem;
    justify-content: start;
    padding-left: 48px;
    padding-right: 48px;
  }

  #contact {
    height: 60rem;
    width: 80rem;
    margin-bottom: 2rem;
    padding-left: 48px;
    padding-right: 48px;
  }

  .neumorph-container {
    height: 280px;
    width: auto;
  }

  .neumorph-container-exp {
    height: 320px;
    width: auto;
  }

  .rectangle{
    width: 1152px;
  }
  
  .carousel-container {
    height: auto;
    width: 1150px;
  }

  .contact-info-upper-container {
    padding-top: 15rem;
  }
}

@media screen and (max-width: 1400px) {
  .title {
    font-size: 3rem;
  }

  nav {
    justify-content: space-between;
    width: 60rem;
    align-items: center;
    padding: 48px;
  }

  #profile {
    height: 50rem;
    width: 70rem;
  }

  #about {
    height: 54rem;
    width: 70rem;
    padding: 12px;
    padding-left: 48px;
    padding-right: 48px;
  }

  #experience {
    height: 54rem;
    width: 70rem;
    padding: 12px;
    padding-left: 48px;
    padding-right: 48px;
  }

  #projects {
    height: 50rem;
    width: 70rem;
    padding: 12px;
    padding-left: 48px;
    padding-right: 48px;
  }

  #contact {
    height: 50rem;
    width: 70rem;
    padding: 12px;
    padding-left: 48px;
    padding-right: 48px;
  }

  .neumorph-container {
    height: 280px;
    width: auto;
  }

  .neumorph-container-exp {
    height: 320px;
    width: auto;
  }

  .rectangle{
    width: 1022px;
  }
  
  .carousel-container {
    height: auto;
    width: 1020px;
  }

  .contact-info-upper-container {
    padding-top: 12rem;
  }

  .about-containers {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1200px) {

  nav {
    justify-content: space-between;
    width: 40rem;
    align-items: center;
    padding: 48px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  #profile {
    height: 50rem;
    width: 50rem;
    display: block;
  }

  #about {
    height: 52rem;
    width: 50rem;
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
  }

  #experience {
    height: 76rem;
    width: 50rem;
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
  }

  #projects {
    height: 39rem;
    width: 50rem;
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
  }

  #contact {
    height: 40rem;
    width: 50rem;
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .neumorph-container {
    height: 290px;
    width: auto;
  }

  .neumorph-container-exp {
    height: 300px;
    width: auto;
  }

  .rectangle{
    width: 752px;
  }
  
  .carousel-container {
    height: auto;
    width: 750px;
  }

  .contact-info-upper-container {
    padding-top: 10rem;
  }

  .title {
    font-size: 2rem;
  }

  .section__text .text_animate {
    width: 18.3rem;
  }

  .section__text .text_animate h3 {
    font-size: 1.3rem;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
  }

  @keyframes homeBgText {

    0%,
    10%,
    100% {
      background-position: -18.3rem 0;
    }

    65%,
    85% {
      background-position: 0 0;
    }
  }

  .experience-details-container {
    display: flex;
    padding-top: 36px;
    flex-direction: column;
  }

  .section-container {
    display: block;
  }

  /* section,
  .section-container {
    height: fit-content;
  }

  section {
    margin: 0 5%;
  } */

  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }

  .about-pic {
    width: 275px;
    height: 275px;
  }

  .about-pic .circle-spin {
    width: 275px;
    height: 275px;
  }

  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 800px) {

  nav {
    justify-content: space-between;
    width: 27rem;
    align-items: center;
    padding: 48px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  #profile {
    height: 45rem;
    width: 37rem;
  }

  #about {
    height: 58rem;
    width: 37rem;
  }

  #experience {
    height: 76rem;
    width: 37rem;
  }

  #projects {
    height: 32rem;
    width: 37rem;
  }

  #contact {
    height: 40rem;
    width: 37rem;
  }

  .rectangle{
    width: 542px;
  }
  
  .carousel-container {
    height: auto;
    width: 540px;
  }

  .contact-info-upper-container {
    padding-top: 10rem;
  }

  .title {
    font-size: 2rem;
  }

  .section__text .text_animate {
    width: 18.3rem;
  }

  .section__text .text_animate h3 {
    font-size: 1.3rem;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
  }

  @keyframes homeBgText {

    0%,
    10%,
    100% {
      background-position: -18.3rem 0;
    }

    65%,
    85% {
      background-position: 0 0;
    }
  }

  .neumorph-container {
    height: 210px;
    padding: 16px;
  }

  .about-details-container {
    display: flex;
    padding-top: 36px;
    flex-direction: column;
  }

  .neumorph-container-exp {
    height: 300px;
  }
 
  .section__pic-container {
    width: 220px;
    height: 220px;
    margin: 0 auto 2rem;
  }

  .about-pic {
    width: 220px;
    height: 220px;
  }

  .about-pic .circle-spin {
    width: 220px;
    height: 220px;
  }

  .about-containers {
    margin-top: 0;
  }

  .projects_p1 {
    font-size: 24px;
    font-weight: 500;
  }

  .projects_p3 {
    padding-left: 12px;
    font-size: 16px;
  }

  .p3 {
    width: 100%;
  }

}

@media screen and (max-width: 600px) {

  nav {
    justify-content: space-between;
    width: 18rem;
    align-items: center;
    padding: 24px;
  }

  #profile {
    height: 42rem;
    width: 22rem;
    padding: 8px;
  }

  #about {
    height: 55rem;
    width: 22rem;
    padding: 8px;
  }

  #experience {
    height: 76rem;
    width: 22rem;
    padding: 8px;
  }

  #projects {
    height: 22rem;
    width: 22rem;
    padding: 8px;
  }

  #contact {
    height: 40rem;
    width: 22rem;
    padding: 8px;
  }

  .rectangle{
    width: 342px;
  }
  
  .carousel-container {
    height: auto;
    width: 340px;
  }

  .contact-info-upper-container {
    padding-top: 10rem;
  }

  .p3 {
    width: 100%;
    margin-bottom: 1rem;
  }

  .neumorph-container {
    height: 240px;
    padding: 12px;
  }

  .about-details-container {
    display: flex;
    padding-top: 36px;
    flex-direction: column;
  }

  .about-containers h3 {
    text-align: left;
    font-size: 15px;
  }

  .section__text__p1 {
    padding-bottom: 8px;
    font-size: 1rem;
  }

  article {
    font-size: 1rem;
  }

  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }

  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }

  .experience-sub-title {
    font-size: 1.25rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .section__pic-container {
    width: 160px;
    height: 160px;
    margin: 0 auto 2rem;
    margin-bottom: 20px;
  }

  .about-pic {
    width: 160px;
    height: 160px;
  }

  .about-pic img {
    border: white 0.1rem solid;
  }

  .about-pic .circle-spin {
    width: 160px;
    height: 160px;
  }

  .section__text__p2 {
    font-size: 1.25rem;
  }

  .title {
    font-size: 2rem;
  }

  .text-container {
    text-align: justify;
  }

  .neumorph-container-exp {
    height: 340px;
    padding-right: 8px;
    padding-left: 8px;
  }

  article {
    margin-top: 12px;
    flex: 0 0 calc(30% - 10px);
  }

  .experience-containers h3 {
    font-size: 14px;
    line-height: 1.2;
  }

  .experience-details-container {
    padding-top: 0px;
  }

  h2 {
    font-size: 18px;
    margin-top: 4px;
  }

  .contact-info-container {
    margin: 0.6rem;
    margin-bottom: 1rem;
  }

  .neumorph-container-social_round {
    height: 2.5rem;
    width: 2.5rem;
    padding: 10px;
  }

  .contact-info-email-container {
    padding-bottom: 12rem;
  }

  .projects_p1 {
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 500;
  }

  .projects_p3 {
    padding-left: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
  }

  #prevBtn,
  #nextBtn {
    display: none;
  }
}