/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "League Spartan";
  background-color: rgb(32, 37, 43);
  color: rgb(32, 211, 145);
  display: flex;
  justify-content: right;
  flex-direction: column;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: rgb(131, 131, 131);
  text-decoration: none;
  text-decoration-color: white;
  font-weight: 500;
}

a:hover {
  color: rgb(255, 255, 255);
}

.logo {
  font-size: 2rem;
  font-weight: 600;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 80%;
  height: 1px;
  background-color: rgb(131, 131, 131);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgb(255, 255, 255);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
  border-radius: 10%;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(32, 37, 43);
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text__p1 {
  text-align: left;
  color: rgb(131, 131, 131);
  padding-bottom: 10px;
  font-size: 1.2rem;
}

.section__text .text_animate {
  position: relative;
  width: 28rem;
}

.section__text .text_animate h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: transparent;
  font-weight: 500;
  text-align: left;
  -webkit-text-stroke: .7px rgb(32, 211, 145);
  background-image: linear-gradient(rgb(32, 211, 145), rgb(32, 211, 145));
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: homeBgText 6s linear infinite;
  animation-delay: 2s;
}

.section__text .text_animate::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 2px solid rgb(32, 211, 145);
  z-index: -1;
  animation: homeCursorText 6s linear infinite;
  animation-delay: 2s;
}

.p3 {
  font-size: 1.4rem;
  line-height: 1.3;
  margin-bottom: 2rem;
  color: rgb(131, 131, 131);
  font-weight: 400;
  text-align: justify;
  width: 80%;
}

.title {
  font-size: 4rem;
  text-align: left;
  margin-bottom: 12px;
  font-weight: 700;
  color: rgb(223, 223, 223);
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: left;
  gap: 0rem;
}

.btn {
  font-family: "League Spartan";
  font-size: 1.3rem;
  font-weight: 500;
  transition: all 300ms ease;
  padding: 0.8rem;
  width: 8rem;
  border-radius: 8px;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(32, 211, 145) 0.15rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(32, 211, 145);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
  color: rgb(32, 211, 145);
}

.btn-color-2:hover {
  border: rgb(32, 211, 145) 0.15rem solid;
}

/* ABOUT SECTION */

#about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 98rem; 
}

.pic_div {
  margin-top: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-pic {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.about-pic img {
  width: 90%;
  border-radius: 50%;
  border: white 0.2rem solid;
}

.about-pic .circle-spin {
  position: absolute;
  top: -1;
  left: -1;
  transform: translate (-50%, -50%) rotate(0);
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  border-top: .2rem solid transparent;
  border-bottom: .2rem solid transparent;
  border-left: .2rem solid rgb(32, 211, 145);
  border-right: .2rem solid rgb(32, 211, 145);
  animation: aboutSpinner 8s linear infinite;
}

span {
  color: rgb(32, 211, 145);
}

.neumorph-container {
  height: 210px;
  text-align: center;
  padding: 30px;
  padding-left: 38px;
  padding-right: 38px;
  border-radius: 20px;
  background: linear-gradient(225deg, #1d2127, #22282e);
  box-shadow:  -5px 5px 10px #0d0f11,
               5px -5px 10px #333b45;
}

.about-details-container {
  display: flex;
  padding-top: 36px;
}

.about-containers {
  flex: 1;
  padding: 10px;
}

.about-containers h3{
  color:rgb(223, 223, 223);
  font-weight: 300;
  line-height: 1.3;
  text-align: justify;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* EXPERIENCE SECTION */

.sub-experience-section{
  text-align: center;
}

#experience {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 98rem;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 700;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  padding-top: 36px;
} 

.experience-containers {
  flex: 1;
  padding: 10px;
}

.experience-containers h3{
  color:rgb(223, 223, 223);
  font-weight: 300;
  line-height: 1.3;
  text-align: center;
}

.neumorph-container-exp {
  height: 320px;
  text-align: center;
  padding: 30px;
  padding-left: 38px;
  padding-right: 38px;
  border-radius: 20px;
  background: linear-gradient(225deg, #1d2127, #22282e);
  box-shadow:  -5px 5px 10px #0d0f11,
               5px -5px 10px #333b45;
}

.horizontal-container{
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  justify-content: space-around;
}

article {
  justify-content: center;
  text-align: center;
  place-items: center;
  margin-top: 20px;
  margin-right: 12px;
  flex: 0 0 calc(20% - 10px);
}

.pro{
  color: #37f108;
}

.medium{
  color: #d8e61b;
}

.basic{
  color: #1aaef3;
}

/* PROJECTS SECTION */

#projects {
  height: 98vh;
}

.carousel-container {
  position: relative;
  height: 747px;
  width: 1428px;
  margin: 0 auto;
}

.carousel-slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.carousel-slide img {
  border: 2px solid rgb(255, 255, 255);
  width: 100%;
  height: auto;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.slide-in {
  transform: translateX(100%);
  transition: transform 0.5s ease;
}

/* Style the previous and next buttons */
#prevBtn,
#nextBtn {
  margin: 16px;
  width: 40px;
  height: 40px;
  border: 1px solid rgb(32, 211, 145);
  background-color:rgb(32, 211, 145);
  color: white;
  border-radius: 40px; 
  box-shadow: none;
  outline: none;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}


.rectangle {
  position: relative;
  margin: 0 auto;
  width: 1428px; 
  height: auto; 
  background-color: rgb(32, 37, 43);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  border-top: 2px solid rgb(255, 255, 255);
  border-left: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(255, 255, 255);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.btn-div {
  display: flex;
  justify-content: space-between;
}

.txt-div {
  display: flex;
  flex-direction: row;
  place-content: center;
}

.projects_p1 {
  text-align: left;
  color: rgb(255, 255, 255);
  padding-left: 16px;
  font-size: 1.8rem;
}

.projects_p2 {
  text-align: left;
  color: rgb(255, 255, 255);
  padding: 16px;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2;
}

.projects_p3 {
  text-align: left;
  color: rgb(32, 211, 145);
  padding-left: 16px;
  padding-top: 4px;
  font-size: 1.2rem;
  font-weight: 500;
}


/* CONTACT */

#contact {
  height: 98vh;
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.neumorph-container-social_round {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  padding: 10px;
  border-radius: 100%;
  background: linear-gradient(225deg, #1d2127, #22282e);
  box-shadow:  -5px 5px 10px #0d0f11,
               5px -5px 10px #333b45;
}

.neumorph-container-email {
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 3rem;
  padding: 10px 24px 10px 24px;
  border-radius: 3rem 3rem 3rem 3rem;
  background: linear-gradient(225deg, #1d2127, #22282e);
  box-shadow:  -5px 5px 10px #0d0f11,
               5px -5px 10px #333b45;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  padding-top: 20rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-info-email-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-email-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}
/* Animations Keyframes */

@keyframes homeBgText {

  0%,
  10%,
  100% {
    background-position: -28rem 0;
  }

  65%,
  85% {
    background-position: 0 0;
  }
}

@keyframes homeCursorText {

  0%,
  10%,
  100% {
    width: 0;
  }

  65%,
  78%,
  85% {
    width: 100%;
    opacity: 1;
  }

  75%,
  81% {
    opacity: 0;
  }
}

@keyframes aboutSpinner {
  100% {
    transform: translate(0%, 0%) rotate(360deg);
  }

}